<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>http://li328.lip6.fr:8280/san/</display-name>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.github.sandavid.hypergraph.servlets.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>com.github.sandavid.hypergraph.servlets.create.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/user/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.github.sandavid.hypergraph.servlets.auth.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/auth/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.github.sandavid.hypergraph.servlets.auth.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/auth/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateFriendship</display-name>
    <servlet-name>CreateFriendship</servlet-name>
    <servlet-class>com.github.sandavid.hypergraph.servlets.friendships.CreateFriendshipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFriendship</servlet-name>
    <url-pattern>/friendship/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestroyFriendship</display-name>
    <servlet-name>DestroyFriendship</servlet-name>
    <servlet-class>com.github.sandavid.hypergraph.servlets.friendships.DestroyFriendshipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestroyFriendship</servlet-name>
    <url-pattern>/friendship/destroy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatus</display-name>
    <servlet-name>UpdateStatus</servlet-name>
    <servlet-class>com.github.sandavid.hypergraph.servlets.statuses.UpdateStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatus</servlet-name>
    <url-pattern>/status/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStatus</display-name>
    <servlet-name>ShowStatus</servlet-name>
    <servlet-class>com.github.sandavid.hypergraph.servlets.statuses.ShowStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStatus</servlet-name>
    <url-pattern>/status/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTweets</display-name>
    <servlet-name>SearchTweets</servlet-name>
    <servlet-class>com.github.sandavid.hypergraph.servlets.search.SearchTweetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTweets</servlet-name>
    <url-pattern>/search/tweets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestroyStatus</display-name>
    <servlet-name>DestroyStatus</servlet-name>
    <servlet-class>com.github.sandavid.hypergraph.servlets.statuses.DestroyStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestroyStatus</servlet-name>
    <url-pattern>/status/destroy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUser</display-name>
    <servlet-name>ShowUser</servlet-name>
    <servlet-class>com.github.sandavid.hypergraph.servlets.users.ShowUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUser</servlet-name>
    <url-pattern>/user/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStatuses</display-name>
    <servlet-name>ListStatuses</servlet-name>
    <servlet-class>com.github.sandavid.hypergraph.servlets.statuses.ListStatusesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStatuses</servlet-name>
    <url-pattern>/status/list</url-pattern>
  </servlet-mapping>  <servlet>
    <description></description>
    <display-name>SuggestUser</display-name>
    <servlet-name>SuggestUser</servlet-name>
    <servlet-class>com.github.sandavid.hypergraph.servlets.users.SuggestUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuggestUser</servlet-name>
    <url-pattern>/user/suggest</url-pattern>
  </servlet-mapping>
</web-app>
